* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: black;
}
.hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40%;
  min-width: 500px;
}

.home {
  margin: 0 5% 0 5%;
}
.home h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 3px solid blue;
  color: white;
}
.home p {
  font-size: 22px;
  margin-bottom: 10px;
  color: black;
  padding: 5px;
}

.presentation {
  margin: 5%;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 6px 6px 10px black;
  background-color: #eceaea;
}
.presentation a {
  font-weight: bolder;
  text-decoration: none;
  color: blue;
  border-bottom: 2px solid transparent;
}
.presentation a:hover {
  border-bottom: 2px solid blue;
}

.projets {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projets h2 {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 3px solid #780088;
  color: white;
  background-color: black;
}
.projets p {
  font-size: 22px;
  margin-bottom: 10px;
}

.projetVitrine {
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
  max-width: 1500px;
  background-color: #eceaea;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px #474747;
}
.projetVitrine a {
  border: 1px solid blue;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 6px 6px 10px #474747;
  background: linear-gradient(135deg, #024d94, #008bdb);
  transition: all 0.2s;
}
.projetVitrine a .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projetVitrine a .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projetVitrine a .card h3 {
  font-size: 20px;
  color: white;
  margin-top: 5px;
  text-align: center;
  padding: 15px;
  width: 100%;
}
.projetVitrine a:hover {
  box-shadow: 6px 6px 10px black;
  transform: scale(1.05);
}

@media only screen and (max-width: 599px) {
  .projets {
    margin-bottom: 50px;
  }

  .projetVitrine {
    display: flex;
    flex-direction: column;
    margin: 0 10% 0 10%;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: black;
  }
}
.services {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services h2 {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  color: white;
}
.services h3 {
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: 3px solid #ffc400e0;
  color: white;
}
.services h4 {
  font-size: 22px;
  color: white;
  margin-bottom: 5px;
}
.services p {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
}

#services {
  margin-bottom: 50px;
  opacity: 0;
}

header {
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #1b162c, #6000f7, #780088);
  padding: 40px 0 40px 0;
}
header img {
  width: 10%;
  max-width: 100px;
  min-width: 50px;
  border-radius: 10px;
}

h1 {
  font-size: 35px;
  margin-left: 30px;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 599px) {
  h1 {
    font-size: 25px;
  }
}
footer {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  background: linear-gradient(135deg, #1b162c, #6000f7, #9c00b2);
  padding: 40px 10% 40px 10%;
}
footer p,
footer i {
  color: white;
  font-size: 20px;
}

.mailPhone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mailPhone i {
  margin-bottom: 10px;
}
.mailPhone a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.mailPhone a:hover {
  color: #ffc400e0;
  border-bottom: 2px solid #ffc400e0;
}
.mailPhone a:hover i {
  color: rgba(255, 196, 0, 0.877);
}

.reseau {
  display: flex;
  justify-content: center;
}
.reseau i {
  font-size: 25px;
  margin-right: 15px;
}
.reseau a:hover i {
  color: rgba(255, 196, 0, 0.877);
}

@media only screen and (max-width: 599px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .address {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .address,
.mailPhone,
.reseau {
    width: 100%;
    align-items: center;
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 50px;
}
nav a {
  font-size: 25px;
  padding: 6px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
}
nav a:hover {
  border-bottom: 2px solid #ffc400e0;
  color: #ffc400e0;
}
nav p {
  border: 2px solid #780088;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  padding: 6px;
  margin-left: 10px;
}

@media only screen and (max-width: 599px) {
  nav a,
nav p {
    font-size: 18px;
    margin-left: 5px;
  }
}
.show {
  -webkit-animation: show 3s forwards ease-in-out;
          animation: show 3s forwards ease-in-out;
}

.hide {
  -webkit-animation: hide 2s forwards ease-in-out;
          animation: hide 2s forwards ease-in-out;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}/*# sourceMappingURL=main.css.map */