.fond {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    img {
        object-fit: cover;
        width: 100%;
    }
}