footer {
    position: sticky;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    //background: linear-gradient(135deg, #1b162c, #6000f7, #9c00b2);
    background: linear-gradient(135deg, blue, #780088, #e0ac00, #5eff00, #ff4800);
    padding: 40px 10% 40px 10%;
    p,
    i {
        color: black;
        font-size: 20px;
    }
}

.mailPhone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    i {
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        &:hover {
            color: #6be209e0;
            border-bottom: 2px solid #e22a09e0;
            i {
                color: #e22a09e0;
            }
        }
    }
}

.reseau {
    display: flex;
    justify-content: center;
    i {
        font-size: 25px;
        margin-right: 15px;
    }
    a:hover {
        i {
            color: #e22a09e0;
        }
    }
}

@media only screen and (max-width: 599px) {
    footer {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .address {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .address,
    .mailPhone,
    .reseau {
        width: 100%;
        align-items: center;
    }
}