.home {
    margin: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        // margin-bottom: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        //  border-bottom: 3px solid blue;
        color: white;
    }
    p {
        font-size: 22px;
        margin-bottom: 10px;
        color: black;
        padding: 5px;
    }
}

#heroAccueil {
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

#A {
    border-radius: 15px;
    background: blue;
    height: 5px;
    width: 100%;
    margin-bottom: 60px;
}

.colorBorderAccueil {
    width: 100%;
    animation: 1.5s chReverseAccueil forwards ease-in-out;
}

.changeColorAccueil {
    animation: 1.5s chAccueil forwards ease-in-out;
}

@keyframes chAccueil {
    0% {
        background: blue;
        //  border-bottom: 3px solid white;
        width: 0;
    }
    100% {
        background: blue;
        //border-bottom: 3px solid #780088;
        width: 100%;
    }
}

@keyframes chReverseAccueil {
    0% {
        background: blue;
        // border-bottom: 3px solid #780088;
        width: 0;
    }
    100% {
        background: blue;
        //  border-bottom: 3px solid white;
        width: 100%;
    }
}

.presentation {
    margin: 5%;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 6px 10px black;
    background-color: rgb(236, 234, 234);
    a {
        font-weight: bolder;
        text-decoration: none;
        color: blue;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid blue;
        }
    }
}

.showPres {
    animation: 1s showpres ease-in-out forwards;
}

.hidePres {
    animation: 1s hidepres ease-in-out forwards;
}

@keyframes showpres {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hidepres {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@media only screen and (max-width: 599px) {
    .home {
        margin-bottom: 30px;
        h2 {
            font-size: 25px;
        }
        p {
            font-size: 18px;
        }
    }
}