.home {
    margin: 0 5% 0 5%;
    h2 {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 3px solid blue;
        border-top: 3px solid blue;
    }
    p {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

.presentation {
    margin: 5%;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 6px 10px black;
    a {
        font-weight: bolder;
        text-decoration: none;
        color: blue;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid blue;
        }
    }
}